APP_NAME=Activities
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000/
# FORCE_HTTPS=true

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
# REQUEST_LOG=failure_only

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=activities
DB_USERNAME=
DB_PASSWORD=

# Database backup & compression config
DB_BACKUP_ENABLED=true
DB_BACKUP_USE_QUEUE=false
DB_BACKUP_ENABLE_COMPRESSION=true
DB_BACKUP_STORAGE_FOLDER=dbDumps
DB_BACKUP_FILE_DATETIME_FORMAT=Y_m_d_H_i
DB_BACKUP_DATE_FORMAT="d M, Y H:i:s p"
DB_BACKUP_ROW_CHUNK=10
DB_BACKUP_PART_FILE_MAX_SIZE_IN_MB=10
# DB_BACKUP_MODE=normal
DB_BACKUP_MODE=manual

IMAGE_PROCESSING_USE_QUEUE=true
IMAGE_PROCESSING_CHUNK=100
IMAGE_PROCESSING_CHUNK_DUPLICATES=20
ALLOW_IMAGE_EXPORT_WITHOUT_AUTHENTICATION=true
IMG_EXPORT_THROW_ERROR_ON_DIMENSION_MISMATCH=false

# postgres
# DB_CONNECTION=pgsql
# DB_DATABASE=activities
# DB_USERNAME=
# DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

OCTANE_SERVER=swoole

LOG_API_ACCESS_KEY=""
